
img {
	height: 75%;
	width: 50%;
}

#photo {
	float: left;
	height: 200px;
	width: 20%;
}

#title {
	font-size: 30px;
	font-family: Palatino Linotype;
	font-weight: bold;
}

#author {
	margin: 5px;
	font-family: courier;
}

#link {
	margin: 5px;
	font-family: courier;
}

#published {
	margin: 5px;
	font-family: courier;
}

#text {
	margin: 5px;
	font-family: courier;
	float: left;
}
body {
    /*background-image: url("shattered.png")*/
}
h2 { font-size: 15px;
}
h1 {
   font-family: 'Days One', sans-serif;
}
.video {
    height: 200px !important;
    width: 356px !important;
    display: inline-block;
}
.item {
    display: inline-block !important;
}
.input-group-addon {
        background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    margin: 0 0 0 0 !important;
}


.giphy-embed {
	margin-top: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #aabe
}

.body-well {
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-bottom-style: double;
	background-color: tomato;
	font-family: 'Merriweather', serif;
	border-radius: 20px;
}

.panel {
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
}

.navbar {
	background-color: tomato;
	border-style: solid;
	border-color: grey;
	font-family: 'Merriweather', serif;
}


button {
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#searchTerm {
	height: 35px;
}

#resultsNews {
	background: white 
	border-radius: 25px
}